{
  "tps": 5,

  "logLevel": {{ bench_config.logLevel }},
  "stopOn": {
    "error": "{{ bench_config.stopOn.error }}",
    "processedTransactions": {{ bench_config.stopOn.processedTransactions }}
  },
  "threadsAmount": {{ bench_config.threadsAmount }},
  "maxActivePromises": {{ bench_config.maxActivePromises }},

  "prometheusTelemetry": {
    "enable": false,

    "url": "",
    "user": "",
    "password": "",
    "respCodeBuckets": [],
    "trxsDurationBuckets": []
  }
}
